<!DOCTYPE html>
<html class="no-js">

  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="content">
      {{ content }}
    </div>

    {% include footer.html %}

    <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    <script async defer id="github-bjs" src="//buttons.github.io/buttons.js"></script>

  </body>

</html>
